@import 'apps/iglidur-designer/src/app/libs/styles/mixins.scss';
@import 'apps/iglidur-designer/src/app/libs/styles/variables.scss';
.material {
  display: flex;
  width: 100%;
  height: 82%;
  @media screen and (min-width: 1920px) {
    height: 88.5%;
  }
  .preview {
    width: 34%;
    height: 100%;
    background-color: #ececec;
    .stl-model {
      height: 25%;
      width: 100%;
      @include flex-center;
      @media screen and (min-width: 1920px) {
        height: 50%;
        width: 100%;
      }
      stl-model-viewer {
        width: 25%;
        height: 100%;
        background-color: transparent;
        @media screen and (min-width: 1920px) {
          width: 80%;
        }
        canvas {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .requirements {
    width: 66%;
    overflow-y: auto;
  }
}

stl-model-viewer {
  width: 400px;
  height: 400px;
  display: block;
  margin: 0 auto;
  position: relative;

  canvas {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}
