@import 'apps/iglidur-designer/src/app/libs/styles/mixins.scss';
@import 'apps/iglidur-designer/src/app/libs/styles/variables.scss';
.model {
  box-sizing: border-box;

  .model-hero {
    display: flex;
    padding: 1% 10%;
    height: 30vh;
    background-color: $background-color;
    width: 80%;

    .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 50%;

      h1 {
        font-size: 2rem;
        font-weight: 500;
      }
    }

    .image {
      width: 50%;
      @include flex-center;

      img {
        width: 60%;
      }
    }
  }
  .file-drop-zone {
    border: 2px dashed $accent-color;
    padding: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 3rem;
    height: 200px;
    @include flex-center;
    flex-direction: column;
    color: #727272;

    &:hover {
      border-color: $primary-color;
    }

    .drag-drop {
      padding: 0;
      margin: 0;

      .select-button {
        cursor: pointer;
        text-decoration: none;
        color: $primary-color;
      }
    }
  }

  .no-model {
    width: 70%;
    margin: 0 auto;
    @include flex-center;
    flex-direction: column;

    .no-model-text {
      padding: 0%;
      margin-bottom: 0%;
    }

    .load {
      color: $primary-color;
      font-weight: 500;
      cursor: pointer;
      margin-top: 0%;

      .load-text-left, .load-text-right {
        font-weight: 500;

        &:hover {
          color: #db7202;
        }
      }

      .load-text-middle {
        cursor: default;
        text-decoration: none;
        color: $secondary-color;
        font-weight: 400;
      }

      .load-text-right {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .file-drop-zone label {
    text-decoration: underline;
    cursor: pointer;
  }

  .previews {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .preview-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
    border: 1px solid $accent-color;
    padding: 2px;
  }

  .model-viewer {
    width: 70%;
    min-height: 200px;
    margin: 0 auto;
    position: relative;
    .screenshot {
      width: 300px;
      height: 300px;
      display: block;
      margin: 0 auto;
      position: relative;
      cursor: pointer;
      object-fit: cover;
      border: 2px dashed $accent-color;
    }

    stl-model-viewer {
      width: 400px;
      height: 400px;
      display: block;
      margin: 0 auto;
      position: relative;

      canvas {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }
  }

  
}
