.model {
    box-sizing: border-box;
    .model-hero {
        display: flex;
        padding: 1% 10%;
        height: 30vh;
        background-color: rgb(247, 247, 247);
        width: 80%;
        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            h1 {
                font-size: 2rem;
                font-weight: 500;
            }
        }
        .image {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: aqua;
            img {
                width: 60%;
            }
        }
    }
}