<div class="model">
  <div class="model-hero">
    <div class="text">
      <h1 class="">{{ 'HERO.TITLE.' + language | translate }}</h1>
      <p>{{ 'HERO.TEXT.' + language | translate }}</p>
    </div>
    <div class="image">
      <img [src]="tools" alt="tools" />
    </div>
  </div>
  <div class="file-drop-zone">
    <h2>
      {{ 'DRAGDROP.' + language + '.TEXT' | translate }}
      <label class="select-button" for="fileInput">{{ 'DRAGDROP.' + language + '.SELECT' | translate }}</label>
    </h2>
    <p>{{ 'FILEFORMAT.' + language | translate }}</p>
  </div>

  <input
    type="file"
    multiple
    (change)="onFileSelected($event)"
    id="fileInput"
    accept=".stl"
    style="display: none"
    #fileInput
  />
  <div class="no-model">
    <p>You don't have any CAD model at the moment?</p>
    <p class="load">Load sample models <span>or</span> Create CAD model for selected geometries</p>
  </div>

  <div class="model-viewer">
    @if (screenshotUrl) {
    <h2>Select Model</h2>
    } @if(screenshots$ | async; as screenshots) { @for(screenshot of
    screenshots; track screenshot) {
    <img
      [src]="screenshot"
      (click)="onScreenshotClick()"
      class="screenshot"
      alt="Model Screenshot"
    />
    } }

    <div #rendererContainer [class.hidden]="screenshotUrl">
      @if (modelUrl && !screenshotUrl) {
      <stl-model-viewer [stlModels]="[modelUrl]"></stl-model-viewer>
      }
    </div>
  </div>
</div>
